<!DOCTYPE html>
<html>
  <head>
    <title>Eris</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://kit.fontawesome.com/88d08e29d0.js" crossorigin="anonymous"></script>

  <body>
    <%= yield %>
  </body>
</html>
